.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    .all-category {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .all {
            font-size: 24px;
            font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
            font-weight: normal;
            color: #333;
        }
    }
    .hot-new-category {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 93px;
        height: 29px;
        background: url('../img/button.png');
        background-repeat:  no-repeat;
        // 稍微延迟下响应速度，体验可能会好点
        animation-delay: 10ms;
        animation-timing-function: ease-in-out;
        .category-button {
            width: 46px;
            height: 29px;
            line-height: 29px;
            font-size: 12px;
            display: inline-block;
            color: #333;
            text-align: center;
            &.active {
                color: #fff;
            }
            // 相当于 .category-button:hover
            &:hover {
                cursor: pointer;
            }
        }
    }
}