.netease-layout {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  
    // 3: 水平居中方法三，use flex
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > .header {
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 70px;
        color: white;
        
    }
  
    section {
        width: 980px;
        // min-height: 700px;
        flex: 1 1 0;
        // 1： 水平居中方法一，margin:auto法，根据宽度水平居中元素
        // margin: auto;
  
        // 2: 水平居中方法二， use transform
        // margin-left: 50%;
        // transform: translate(-50%);
        
        // box-sizing: content-box; // 默认，设置的width 作用于content
        box-sizing: border-box; // 总的展示宽度是 content + border + margin
    }
    > .footer {
        width: 100%;
        background-color: #f2f2f2;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 90px;
  
        margin-bottom: 47px; // 为了腾出位置 让播放器一直浮动在底部
    }
  
    > .footer-auto-visible {
        position: fixed;  // 绝对定位，相对于浏览器窗口进行定位
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        z-index: 1002;
        width: 100%;
        display: flex;
        justify-content: center;
        > .player-footer-container {
          display: flex;
          justify-content: center;
          top: -7px;
          height: 53px;
          width: 100%;
          margin: 0 auto;
          position: absolute;  // 绝对定位，相对于最近一级的定位不是static的父元素进行定位，即上层的 footer-auto-visible
          transition: top 400ms ease-in-out 300ms;  // 定义过渡的效果
          &.visible {
            transition: top 200ms ease-in-out 50ms;
            top: -53px;
          }

          > .hand {
            position: absolute;
            top: -10px;
            width: 100%;
            height: 20px;
            cursor: pointer;
          }
          > .bg {
            width: 1373px;
            height: 53px;
            background-image: url('../img/playbar.png');
            background-position: 0 0;
            background-repeat: repeat-x;
            margin-right: 67px;
          }
          > .updn {
            position: absolute;
            top: -14px;
            right: 15px;
            width: 52px;
            height: 67px;
            z-index: 1;
            background-position: 0 -380px;
            background-image: url('../img/playbar.png');
            > .icon {
              display: block;
              width: 18px;
              height: 18px;
              margin: 6px 0 0 17px;
              background-position: -80px -380px;
              background-image: url('../img/playbar.png');
              cursor: pointer;
              &:hover {
                background-position: -80px -400px;
              }
              &.lock {
                background-position: -100px -380px;
                &:hover {
                  background-position: -100px -400px;
                }
              }
            }
          }
          > .updn-right {
            position: absolute;
            top: -1px;
            right: 0;
            width: 15px;
            height: 54px;
            background-position: -52px -393px;
            pointer-events: none;
            background-image: url('../img/playbar.png');
          }
          > .player {
            position: absolute;
            left: 50%;
            top: 6px;
            z-index: 15;
            width: 980px;
            height: 47px;
            transform: translateX(-50%);
          }
        }
        > .song-list {
          height: 300px;
          position: absolute;
          width: 980px;
          top: -347px;
        }
    }
  }
  html, body {
    margin: 0px;
  }
  div {
      box-sizing: content-box;
  }