.playlist-detail-container {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    // width: 100%;  // 不能设置为宽度100%， 否则会溢出section
    height: 100%;
    margin: 0;
    // padding: 40px;
    display: flex;
    .right {
      width: 198px;
      margin: 0;
    }
    .left {
      width: 740px;
      margin: 0;
    }
}