.song-list-panel-container{
    background-color: #121212;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
    > .title {
        display: flex;
        justify-content: flex-start;
        height: 40px;
        padding: 0 5px;
        border-bottom: solid 1px #333;
        display: flex;
        align-items: center;
        > .name {
            width: 555px;
            text-align: left;
            margin-left: 25px;
            border-right: solid 1px #333;
            height: 39px;
            line-height: 39px;
            font-size: 14px;
            color: #e2e2e2;
        }
        > .song-name {
            width: 346px;
            margin-left: 40px;
            color: #fff;
            font-size: 14px;
        }
        > .close {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            background-image: url('../img/playlist.png');
            background-position: -195px 9px;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
    > .content {
        display: flex;
    }
}